#parentDiv {
    width: 960px;
    /* height: 960px; */ 
    display: grid;
    grid-template-rows: repeat(16, minmax(5px, 1fr));
    grid-template-columns: repeat(16, minmax(5px, 1fr));
    grid-gap: 1px;
}

.grid-div {
    place-self: auto;
    aspect-ratio: 1;
}

div {
    border: solid;
    border-radius: 5px;
    
}

.hover-div {
    background-color: midnightblue;
}

#resetButton {
    height: 30px;
    width: 90px;
    border-radius: 5px;
    margin: 5px;
}